.categories-list {
  position: sticky;
  left: 0;
  bottom: 0;
  background-color: rgb(233, 231, 231);
  z-index: 99;
  min-height: 90vh;
  height: 100%;
  width: 100%;
  border-right: solid 1px rgb(212, 212, 212);
}
