.todo-input input {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.todo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-actions {
  display: flex;
  gap: 10px;
}

.subtask-list {
  list-style: none;
  padding-left: 20px;
  margin-top: 10px;
}

.subtask-list li {
  color: #555;
}

.todo-note {
  padding: 20px;
}

.todo-note textarea {
  width: 100%;
  min-height: 300px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-family: "Courier New", Courier, monospace; /* Hỗ trợ code */
}

.note-actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
