/* todolist.css */
.todo-list {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.todos {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.subtasks {
  margin-top: 10px;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 5px;
}

.add-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.add-todo input {
  flex: 1;
  padding: 15px;
  border: hsl(0, 0%, 80%);
  height: 100%;
}

.add-todo input:focus {
  outline: none;
}

.selection-title {
  margin: 0;
  color: #34495e;
}

.add-todos-text {
  margin-bottom: 30px;
  margin-right: 0;
  color: #34495e;
}

.add-todo button {
  padding: 5px 10px;
}

.no-todo-warning {
  margin-top: 50px;
  color: red;
}

.input-title,
.input-duedate,
.input-priority,
.input-todos-button {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
}

.empty {
  color: transparent;
}

.todo-item {
  display: flex;
  justify-content: center;
  padding: 100px;
}
