/* todolist.css */
.todo-list {
  flex: 1;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.todos {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtasks {
  margin-top: 10px;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 5px;
}

.add-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.add-todo input {
  flex: 1;
  padding: 15px;
  border: hsl(0, 0%, 80%);
  height: 100%;
}

.add-todo input:focus {
  outline: none;
}

.selection-title {
  margin: 0;
  color: #34495e;
}

.add-todos-text {
  margin-bottom: 30px;
  margin-right: 0;
  color: #34495e;
}

.add-todo button {
  padding: 5px 10px;
}

.no-todo-warning {
  margin-top: 50px;
  color: red;
}

.input-title,
.input-duedate,
.input-priority,
.input-todos-button {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
  border-radius: 10px;
}

.empty {
  color: transparent;
}

.todo-item {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 100px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.todo-item:hover {
  background-color: #e8edf1;
}

.title-todo {
  padding: 10px;
  width: 100%;
}

.delete-todo-button {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 0;
  background-color: red;
  transition: all 0, 3s ease;
}

.delete-todo-button:hover {
  background-color: rgb(143, 1, 1);
}

.input-priority select {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
  min-width: 120px;
  border: none;
  outline: none;
}

.input-priority:focus {
  outline: none;
}

.status-done-mark {
  cursor: pointer;
}

.status-done-mark:hover {
  color: blue;
  text-decoration: underline;
}
